body {
    margin: 0px;
    overflow: hidden auto;
    
    color: #E9F5FF;
    background-color: #1C1A1F;

    --col-accent0: #FF4992;
    --col-accent1: #8D5EDE;

    --col-primary0: #1C1A1F;
    --col-primary1: #302C38;
    --col-secondary0: #E9F5FF;

    --col-shadow0: rgba(8, 5, 13, 0.45);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;

    overflow-y: scroll;
}


/* GENERIC */
.button {
    width: fit-content;
    border: hidden;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
}



/* HEADER */

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 3rem;
}
#header-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 1448px;
}

.header-hero {
    position: fixed;
    padding: 0;
    z-index: -100;
    margin: auto 0px;
    width: 100%;
}

.header-title-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 10rem 0px auto;
    width: fit-content;
}
.header-supertitle {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 1.25rem;
    margin: 1.5rem 0px .75rem 0.325rem;
}
.header-title {
    font-weight: 700;
    letter-spacing: 25%;
    line-height: 5rem;
    font-size: 5rem;
    margin: 0.25rem 0px 0px 0px;
}
.header-title-highlight {
    background: linear-gradient(90deg, var(--col-accent0), var(--col-accent1));
    background-clip: text;
    color: transparent;
}
.header-peek {
    width: 28rem;
    font-size: 20px;
    letter-spacing: 0.1rem;
    line-height: 112%;
    margin: 2rem 0px 1.25rem 6rem;
    font-weight: 375;
}
.header-continuebutton {
    display:flex;
    text-decoration: none;
    margin: 0px 0px .85rem auto;
    font-size: 1.125rem;
    font-weight: 650;
    padding: 1rem 1.25rem .85rem;
    letter-spacing: 0.225rem;
    background: linear-gradient(90deg, var(--col-accent0), var(--col-accent1));
    color: var(--col-secondary0);
    opacity: 0.75;
    transition: transform 75ms ease-in, opacity 100ms ease-in;
}
.header-continuebutton:hover {
    transform: scale(1.065);
    opacity: 1.0;
    transition: transform 100ms ease-out, opacity 125ms ease-in;
}
.header-continuebutton:active {
    transform: scale(1.135);
    opacity: 1.0;
    transition: transform 200ms ease-out, opacity 225ms ease-in;
}
.header-continuebutton img {
    display: inline;
    width: .85rem;
    margin-right: .65rem;
    align-self: center;
}

.header-line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 1rem 0px 0px;
    background-color: var(--col-secondary0);
    opacity: 0.5;
}

.header-ex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-weight: 200;
    margin-top: .75rem;
}
.header-publish {
    margin-top: 0px;
}
.header-info {
    margin-top: 0px;
    margin-left: auto;
}
.header-info b {
    font-weight: 400;
}



/* MAIN CONTENT */

main {
    position: relative;
    padding: 3rem 3rem 2rem;
    background-color: var(--col-primary0);
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 4rem;
}

#header-main-fade {
    position: absolute;
    top: -10rem; right: 0; left: 0;
    height: 10rem;
    z-index: -98;
    background: linear-gradient(180deg, transparent, var(--col-primary0) 75%);
}

#main-content {
    max-width: 1024px;
}

article + article {
    margin-top: 5rem;
}
article > h1 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.75rem;
    letter-spacing: 25%;
    line-height: 2.75rem;
    background: linear-gradient(90deg, var(--col-accent0), var(--col-accent1));
    background-clip: text;
    color: transparent;
    width: fit-content;
}
article section {
    margin: .5rem 0 1rem 3.5rem;
    width: fit-content;
}
article section > h1 {
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 20%;
    line-height: 2.25rem;
    background: linear-gradient(90deg, var(--col-accent0), var(--col-accent1));
    background-clip: text;
    color: transparent;
    width: fit-content;
}
article p {
    margin-top: 1rem;
    margin-left: 4rem;
    font-weight: 375;
    font-size: 1.25rem;
    letter-spacing: 2.5%;
    line-height: 2rem;
    width: fit-content;
    max-width: 45rem;
}
article .separator {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 3rem 0px 0px;
    background-color: var(--col-accent0);
    opacity: 0.45;
}

aside {
    position: sticky;
    top: 1.5rem;
    background-color: var(--col-primary1);
    border: var(--col-accent0) 2px solid;
    border-radius: 1rem;
    padding: 1.25rem;
    height: fit-content;
    box-shadow: 30px 30px 35px var(--col-shadow0);
}
aside #aside-mode-switcher {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: .5rem;
    gap: .5rem;
}
aside #aside-mode-switcher button {
    position: relative;
    padding: .45rem .75rem .35rem;
    background-color: var(--col-primary1);
    color: var(--col-secondary0);
    border: var(--col-accent1) 2px solid;
    font-weight: 600;
    letter-spacing: 5%;
    text-wrap: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 100ms ease-in, scale 200ms ease-out;
}
aside #aside-mode-switcher button:hover {
    background-color: color-mix(in srgb, var(--col-accent1) 35%, var(--col-primary1)); /* uses color mix to blend colors */
    scale: 1.025;
    transition: background-color 50ms ease-out, scale 50ms ease-in;
}
aside #aside-mode-switcher button:active {
    background-color: var(--col-accent1);
    scale: 1.075;
}
aside #aside-mode-switcher .button-active {
    padding: .55rem .75rem .45rem;
    background: linear-gradient(90deg, var(--col-accent0), var(--col-accent1));
    border: none;
}
aside figure {
    position: relative;
    margin: 0px;
}
aside .toc-title {
    position: relative;
    font-size: 2.5rem;
    letter-spacing: 17.5%;
    color: var(--col-accent0);
    margin: -2rem 0px 0px;
    height: fit-content;
    z-index: 1;
}
aside .toc-figure .overlay {
    position: absolute;
    border-radius: .75rem;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(180deg, transparent 25%, var(--col-primary1) 85%);
}
aside .toc-figure img {
    position: relative;
    border-radius: .75rem;
    width: 25rem;
    margin: 0px;
}
aside .toc-figure figcaption {
    position: absolute;
    right: .5rem;
    bottom: 2.25rem;
    text-align: right;
    font-size: .85rem;
    opacity: .65;
}
aside .toc-list {
    margin: .5rem 0px 0px 1.25rem;
}
aside .toc-list li a {
    text-decoration: none;
    color: var(--col-secondary0);
}
aside .toc-list .list-item-inset {
    margin-left: 3rem;
}
aside .toc-list li + li {
    margin-top: .5rem;
}
aside .toc-list li::marker {
    color: var(--col-accent1);
}
aside .toc-list .list-item-inset::marker {
    color: var(--col-accent0);
}
aside .home {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}
aside .home img {
    width: 2rem;
}


/* FOOTER */
footer {
    position: relative;
    padding: 0 3rem;
    background-color: var(--col-primary1);
}
#footer-content {
    padding-top: 1.75rem;
    display: flex;
    flex-flow: row nowrap;
    max-width: 1448px;
    margin: 0px auto;
}

.footer-dicoding {
    font-weight: 700;
    margin-top: 0;
    font-size: 2rem;
    letter-spacing: 12.5%;
    background: linear-gradient(270deg, var(--col-accent0), var(--col-accent1));
    background-clip: text;
    color: transparent;
}
.footer-sharing {
    margin-left: auto;
}
.footer-sharing p {
    margin: 0 0 0.45rem;
    letter-spacing: 5%;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: right;
}

#footer-social-sharing {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.125rem;
}
#footer-social-sharing img {
    width: 3rem;
}
#footer-social-sharing img:nth-child(5) {
    width: 4rem;
}

#footer-rights {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 1448px;
    margin: 0px auto;
}
#footer-rights p {
    font-weight: 300;
    font-size: .85rem;
    letter-spacing: 12.5%;
    margin-bottom: 2rem;
}



/* RESPONSIVE */

@media screen and (max-width: 964px) {

    /* HEADER */
    header {
        padding: 0 1rem;
    }
    .header-hero {
        position: fixed;
        padding: 0;
        z-index: -100;
        width: fit-content;
        top: -35%;
    }
    .header-title-wrapper {
        margin: 0px auto;
    }
    .header-ex {
        flex-flow: column nowrap;
        width: 100%;
        margin-top: .75rem;
    }
    .header-info {
        text-align: center;
        margin-right: auto;
    }
    .header-publish {
        font-size: .75rem;
        text-align: center;
    }
    

    /* MAIN CONTENT */
    main {
        flex-flow: column nowrap;
        padding: 3rem 1rem 2rem;
    }
    article p {
        margin-left: 2.5rem;
    }
    article section {
        margin-left: 2.5rem;
    }
    aside {
        margin-left: auto;
        margin-right: auto;
        order: -1;
        position: relative;
    }
    aside .home {
        display: none;
    }
    aside figure {
        position: relative;
        margin: 0px auto;
        width: fit-content;
    }

    /* FOOTER */
    footer {
        padding: 0 1rem;
    }

    #footer-social-sharing {
        justify-content: space-around;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 685px) {

    /* HEADER */
    .header-title-wrapper {
        margin: 2rem auto 2rem auto;
    }
    .header-supertitle {
        font-weight: 375;
        letter-spacing: 3px;
        font-size: 1rem;
        text-align: center;
    }
    .header-title {
        font-weight: 685;
        letter-spacing: 20%;
        line-height: 4.5rem;
        font-size: 3.5rem;
        margin: 0px auto;
    }
    .header-peek {
        letter-spacing: 0.05rem;
        line-height: 110%;
        margin: 2rem auto 1.5rem auto;
        font-weight: 375;
        font-size: 15px;
        width: 100%;
        max-width: 24rem;
    }
    .header-continuebutton {
        margin-right: auto;
    }
    .header-info {
        font-size: 1.125rem;
    }


    /* MAIN CONTENT  */
    main {
        margin-top: 6rem;
    }
    #header-main-fade {
        background: linear-gradient(180deg, transparent, var(--col-primary0) 55%);
    }
    article > h1 {
        margin-bottom: .5rem;
        font-size: 2.25rem;
        letter-spacing: 15%;
    }
    article p {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-top: 0px;
        margin-left: 1.75rem;
    }
    article a {
        font-size: 1.125rem;
    }
    article section {
        margin-left: 1.75rem;
    }
    article section > h1 {
        margin-top: 1.5rem;
        margin-bottom: 0px;
        font-size: 1.45rem;
        letter-spacing: 15%;
    }

    aside .toc-figure img {
        width: 100%;
        max-width: 400px;
    }
    aside #aside-mode-switcher button {
        position: relative;
        padding: .4rem .375rem .3rem;
        font-weight: 500;
        font-size: .75rem;
        letter-spacing: 5%;
        text-wrap: wrap;
    }

    /* FOOTER */
    #footer-content {
        flex-flow: column nowrap;
    }
    .footer-dicoding {
        font-size: 1.5rem;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .footer-sharing {
        margin-right: auto;
    }
    .footer-sharing p {
        margin-top: 2rem;
        text-align: center;
        font-size: .85rem;
    }
    #footer-rights {
        text-align: center;
    }
    #footer-rights p {
        font-weight: 450;
        font-size: .65rem;
        letter-spacing: 10%;
    }
}

@media screen and (max-width: 600px) {
    /* HEADER */
    .header-hero {
        top: -15%;
        left: -125%;
    }

    /* FOOTER */
    #footer-social-sharing {
        gap: 1.25rem;
    }
    #footer-social-sharing img {
        width: 2.75rem;
    }
}